@import "~materialize-css/dist/css/materialize.min.css";

.App {
    padding-top: 20px;
}

.App .container .start {
    display: inline-block;
    margin: 20px 0
}

.App .container .score {
    display: inline-block;
    font-size: 26px;
    margin: 20px 20px;
}

.g-card {
    border: 1px solid gray;
    border-radius: 0 0 2px 2px;
    cursor: pointer;
    font-size: 4rem;
    text-align: center;
    margin: 2px!important;
    background: skyblue;
    color: #000000;
}

.g-card.opened, .g-card:hover {
    background: #ffffff;
}

.g-card .suit-red {
    color: red;
}

.g-card .suit-black {
    color: black;
}